.Profile_Page {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

a, a {
    text-decoration: none;
}

.page-content {
    width: 77.5%;
    float: right;
}

.content-section {
    padding-top: 80px;
    padding: 0 3rem;
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-heading {
    text-align: left;
    position: relative;
    margin-bottom: 60px;
}

.section-heading h1 {
    margin-top: 0px;
    font-size: 32px;
    color: #232323;
    display: inline-block;
    margin-right: 50px;
}

.section-heading em {
    font-style: normal;
    font-weight: bolder;
    color: #45489a;
}

.section-heading p {
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    color: #343434;
    position: absolute;
    top: 12.5px;
}

/* .section-content {
    margin: 5rem;
} */

.white-button a {
    font-size: 15px;
    font-weight: 600;
    color: #45489a;
    text-transform: capitalize;
    background-color: #fff;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0px 25px;
    letter-spacing: 0.25px;
    text-decoration: none;
    transition: all 0.3s;
}

.white-button a:hover {
    background-color: #45489a;
    color: #fff;
}

.responsive-nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
    background-color: rgba(233, 236, 239, 0.92);
    box-shadow: 0px 5px 15px rgba(15, 14, 23, 0.5);
}

.navbar-nav {
    margin: 0;
    border: none;
}

#main-nav ul {
    text-align: center;
    background-color: rgba(15, 14, 23, 0.95);
    margin-top: 8px;
    width: 100%;
}

#main-nav ul li {
    margin: 15px 0px;
}

#main-nav ul li:hover {
    background-color: transparent;
}

#main-nav ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    box-shadow: none;
    border: none;
}

#main-nav ul li a:hover {
    opacity: 0.5;
    background-color: transparent;
}

.navbar-toggle {
    /* padding: .25rem .75rem; */
    margin-top: 0.75em;
    margin-left: 0.5em;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

/* Sidebar Style */

.sidebar-navigation {
    width: 22.5%;
    float: left;
    height: 100%;
    position: fixed;
    background-color: rgba(12, 12, 12, 0.9);
    z-index: 10;
}

.sidebar-navigation .logo {
    position: absolute;
    width: 100%;
    height: 140px;
    line-height: 100px;
    background-color: #45489a;
    padding: 20px;
    text-align: center;
}

.sidebar-navigation .logo a {
    text-decoration: none;
    color: #ff8906;
    letter-spacing: 0.5px;
    font-size: 2vw;
    font-weight: 500;
    text-shadow: none;
    text-transform: uppercase;
    height: 100px;
    width: 100%;
    display: inline-block;
    border: 2px solid rgba(250, 250, 250, 0.5);
}

.sidebar-navigation .logo em {
    font-style: normal;
    font-weight: 900;
    color: #fff;
}

.sidebar-navigation nav {
    position: relative;
    top: 60%;
    left: 60%;
    -webkit-transform: translateX(-60%) translateY(-60%);
    -moz-transform: translateX(-60%) translateY(-60%);
    -ms-transform: translateX(-60%) translateY(-60%);
    -o-transform: translateX(-60%) translateY(-60%);
    transform: translateX(-60%) translateY(-60%);
}

.sidebar-navigation ul {
    margin-left: 45px;
    list-style: none;
    padding: 0;
}

.sidebar-navigation li {
    padding: 1rem 0;
}

.sidebar-navigation span {
    display: inline-block;
    position: relative;
}

.sidebar-navigation nav a {
    display: inline-block;
    color: #fff;
    margin-top: 5px;
    text-decoration: none!important;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.sidebar-navigation nav .Backpage {
    color: #ff8906;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 0.1rem;
    transition: all 0.25s;
}

.sidebar-navigation nav .Backpage:hover {
    color: #ff8906;
    text-shadow: 2px 2px 2px black;
}

.circle {
    margin: 0 10px 0 5px;
    height: 10px;
    width: 10px;
    left: 0px;
    top: -1px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.3s;
}

.rect {
    height: 1px;
    width: 0px;
    left: 0;
    bottom: 5.5px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.1s ease, width 0.6s ease;
    -moz-transition: -webkit-transform 0.1s ease, width 0.6s ease;
    transition: transform 0.1s ease, width 0.3s ease;
}

.sidebar-navigation nav a:focus {
    color: #fff;
}

.sidebar-navigation nav a:hover, nav .active-section {
    color: #fff;
}

.sidebar-navigation nav a:hover span, nav .active-section span {
    background-color: #ddd;
}

.sidebar-navigation nav .active-section .rect {
    width: 30px;
}

.sidebar-navigation nav .active-section .circle {
    background-color: #fff;
}

/*--------------------------------- Banner---------------------------------- */

.profile-banner.content-section {
    padding: 0;
}

.item .image {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: block;
}

.item-1 .image {
    background-image: url("./allef-vinicius-ldsWFInKmsc-unsplash.jpg");
}

.info {
    text-align: right;
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 60px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
}

.info h1 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}

.info h1 strong {
    color: #ff8906;
    text-shadow: 0.25rem 0.25rem 0.5rem #0f0e17;
}

.info p {
    font-size: 17px;
    color: #fff;
}

.info .white-button {
    margin-top: 30px;
}

.info .white-button a:focus {
    outline: none;
}

/*---------------------------Details Portion--------------------------------*/

#details h2 {
    margin-bottom: 1.65rem;
}

#details.content-section {
    padding-top: 65px;
}

#details .section-heading {
    margin-bottom: 2rem;
}

#details .section-heading h1 {
    font-size: 2rem;
}

#details .details_grid_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Label1 Value1" "Label2 Value2";
    text-align: left;
    grid-gap: 0.5em;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f4f4f4;
    padding: 4em 2.5em 2em 2.5em;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 2rem 0.25rem #a19897;
}

.Label1 {
    grid-area: Label1;
}

.Value1 {
    grid-area: Value1;
}

.Label2 {
    grid-area: Label2;
}

.Value2 {
    grid-area: Value2;
}

.Labels h2 {
    color: #0f0e17;
    padding: 0.65rem 0 0.50rem 1rem;
    transition: all 0.2s;
}

.Labels h2:hover {
    transform: translateY(-0.15rem);
    box-shadow: 0 0 0.5rem 0 #45489a;
    cursor: default;
}

.Values h2 {
    padding: 0.65rem 0 0.50rem 1rem;
    color: #45489a;
    font-weight: 700;
    transition: all 0.25s;
}

.Values h2:hover {
    transform: translateY(-0.15rem);
    cursor: default;
    box-shadow: 0 0 0.5rem 0 #0f0e17;
}

/* ------------------------- Appointments Section ------------------------- */

#appointments.content-section {
    margin-top: 3rem;
}

#appointments .section-content {
    background-color: #f4f4f4;
    box-shadow: 0 1rem 1.5rem 0.125rem #a19897;
    margin-bottom: 3rem;
}

#appointments .section-content-title h3 {
    text-align: left;
    color: #ff8906;
    font-weight: 700;
    padding: 10px 0 0 30px;
    cursor: default;
}

.appointments_grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem 10px;
    padding: 2rem 0.65rem;
}

.appointments_grid_container div {
    padding: 5px 5px;
    transition: all 0.2s;
}

.appointments_grid_container div:hover {
    transform: translateY(-0.15rem);
    cursor: default;
    box-shadow: 0 0 0.5rem 0 #0f0e17;
}

.appointments_grid_container div span {
    font-weight: 700;
}

#appointments .Appointment-taken-time {
    text-align: left;
    padding: 10px 0 10px 30px;
}

#appointments .Appointment-taken-time h4 {
    font-weight: 600;
    line-height: 2rem;
    color: #45489a;
}

/* ------------------------------Footer Style--------------------------------- */

.profile-footer {
    background-color: rgba(12, 12, 12, 0.9);
    height: 80px;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.profile-footer p {
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 80px;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 300;
}

/*------------------Media Queries----------------------*/

@media (min-width:1199px) {
    .hidden-lg {
        display: none!important
    }
}

@media (min-width:991px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (max-width:768px) {
    .hidden-xs {
        display: none!important
    }
}

@media screen and (max-width:992px) {
    .page-content {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .responsive-nav {
        display: block;
        height: 60px;
    }
    .info {
        text-align: center;
        right: 0px;
        padding: 0px 30px;
    }
    #details .details_grid_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "Label1" "Value1" "Label2" "Value2";
        font-size: 1.5vw;
    }
    #details .details_grid_container .Values h2 {
        font-size: 5vw;
    }
    .appointments_grid_container {
        grid-gap: 2rem 0;
    }
    #appointments .Appointment-taken-time {
        text-align: center;
    }
}

@media (max-width: 690px) {
    .section-heading p {
        position: relative;
    }
}